
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="Iq3iKrlw3ktN6M11jBu8k59uTtz6n7ZOd0uDNraE">
        <title>Ameliario Crypto  Official | Create an Account</title>
    
        <link rel="icon" href="https://roboofficials.com/storage/app/public/photos/mc68MyfsZLuLXYCjg3qILKowWVPBtxtOsnRN2B4G.jpg" type="image/png"/>
                   
            <link href="https://roboofficials.com/temp/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <!-- Icons -->
            <link href="https://roboofficials.com/temp/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        
            <link rel="stylesheet" href="https://roboofficials.com/temp/css/line.css">
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <!-- Main Css -->
                        <link href="https://roboofficials.com/temp/css/style.css" rel="stylesheet" type="text/css" />
            <link href="https://roboofficials.com/temp/css/colors/dark.css" rel="stylesheet">
            </head>
    <body class="bg-black">
        <style>
            
           *{
            color:#fff
        }  
            
        </style>
       
           <section style="height: auto;" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row p-md-5 py-5">
                <div class="col-lg-12">
                    <div class="card rounded bg-black login-page">
                        <div class="card-body">
                            <div class="row pl-md-3">
                                <div
                                    class="col-md-5 d-none d-lg-flex align-items-center justify-content-center bg-primary rounded">
                                    <div class="text-center">
                                        <h2 class="text-white mb-0">Let's get you set up</h2>
                                        <p class="text-white p-2">It should only take a couple of minute to create your
                                            account.</p>
                                        <img src="https://roboofficials.com/dash2/img/account.webp" alt="" class="w-75">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="text-center">
                                        <a href="/">
                                            <!-- <img src="https://roboofficials.com/storage/app/public/photos/I6zJhB4NrZqQFA1XmqTCXr3VyAtD3ozzXiKEZCs1.jpg" alt="Logo"
                                                class="w-50"> -->
                                        </a>
                                    </div>
                                    <div>
                                        
                                    </div>
                                    <form method="POST" action="/register" class="mt-4 login-form">
                                        <!-- <input type="hidden" name="_token" value="Iq3iKrlw3ktN6M11jBu8k59uTtz6n7ZOd0uDNraE">       -->
                                                                          <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Username <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                                        <input type="text" class="pl-5 form-control"
                                                            name="username" id="username"
                                                            placeholder="Enter Unique Username" required>
                                                            <span class="username error"></span>
                                                                                                            </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Full Name <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <i data-feather="user-check" class="fea icon-sm icons"></i>
                                                        <input type="text" class="pl-5 form-control" name="fullname"
                                                             id="fullname"
                                                            placeholder="Enter FullName" required>

                                                            <span class="fullname error"></span>

                                                                                                            </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email Address <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                                        <input type="email" class="pl-5 form-control" name="email"
                                                             id="email"
                                                            placeholder="name@example.com" required>
                                                            <span class="email error"></span>
                                                                                                            </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone Number <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <i data-feather="phone" class="fea icon-sm icons"></i>
                                                        <input type="tel" class="pl-5 form-control" name="tel"
                                                             id="tel"
                                                            placeholder="Enter Phone number" required>
                                                            <span class="tel error"></span>
                                                                                                            </div>
                                                </div>
                                            </div>
                                          
                                            



                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Gender <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <select   
                                                         class="pl-5 d-block w-100 px-2 py-2 border border-light rounded-right" name="gender"id="gender" style="color: black;" required>
                                                      <option selected disabled>Choose Gender</option>
                                                       <option value="Male" class="text-dark">Male</option>
                                                       <option value="Female" class="text-dark">Female</option>
                                               </select>
                                               <span class="gender error"></span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Country <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <i data-feather="map-pin" class="fea icon-sm icons"></i>
                                                        <select
                                                            class="pl-5 d-block w-100 px-2 py-2 border border-light rounded-right"
                                                            name="country" id="country" style="color: black;" required>
                                                            <option selected disabled>Choose Country</option>
                                                            <option value="Afganistan"  class="text-dark">Afghanistan</option>
                                        <option value="Albania" class="text-dark">Albania</option>
                                        <option value="Algeria" class="text-dark">Algeria</option>
                                        <option value="American Samoa" class="text-dark">American Samoa</option>
                                        <option value="Andorra" class="text-dark">Andorra</option>
                                        <option value="Angola" class="text-dark">Angola</option>
                                        <option value="Anguilla" class="text-dark">Anguilla</option>
                                        <option value="Antigua &amp; Barbuda" class="text-dark">Antigua &amp; Barbuda</option>
                                        <option value="Argentina" class="text-dark">Argentina</option>
                                        <option value="Armenia" class="text-dark">Armenia</option>
                                        <option value="Aruba" class="text-dark">Aruba</option>
                                        <option value="Australia" class="text-dark">Australia</option>
                                        <option value="Austria" class="text-dark">Austria</option>
                                        <option value="Azerbaijan" class="text-dark">Azerbaijan</option>
                                        <option value="Bahamas" class="text-dark">Bahamas</option>
                                        <option value="Bahrain" class="text-dark">Bahrain</option>
                                        <option value="Bangladesh" class="text-dark">Bangladesh</option>
                                        <option value="Barbados" class="text-dark">Barbados</option>
                                        <option value="Belarus" class="text-dark">Belarus</option>
                                        <option value="Belgium" class="text-dark">Belgium</option>
                                        <option value="Belize" class="text-dark">Belize</option>
                                        <option value="Benin" class="text-dark">Benin</option>
                                        <option value="Bermuda" class="text-dark">Bermuda</option>
                                        <option value="Bhutan" class="text-dark">Bhutan</option>
                                        <option value="Bolivia" class="text-dark">Bolivia</option>
                                        <option value="Bonaire" class="text-dark">Bonaire</option>
                                        <option value="Bosnia &amp; Herzegovina" class="text-dark">Bosnia &amp; Herzegovina</option>
                                        <option value="Botswana" class="text-dark">Botswana</option>
                                        <option value="Brazil" class="text-dark">Brazil</option>
                                        <option value="British Indian Ocean Ter" class="text-dark">British Indian Ocean Ter</option>
                                        <option value="Brunei" class="text-dark">Brunei</option>
                                        <option value="Bulgaria" class="text-dark">Bulgaria</option>
                                        <option value="Burkina Faso" class="text-dark">Burkina Faso</option>
                                        <option value="Burundi" class="text-dark">Burundi</option>
                                        <option value="Cambodia" class="text-dark">Cambodia</option>
                                        <option value="Cameroon" class="text-dark">Cameroon</option>
                                        <option value="Canada" class="text-dark">Canada</option>
                                        <option value="Canary Islands" class="text-dark">Canary Islands</option>
                                        <option value="Cape Verde" class="text-dark">Cape Verde</option>
                                        <option value="Cayman Islands" class="text-dark">Cayman Islands</option>
                                        <option value="Central African Republic" class="text-dark">Central African Republic</option>
                                        <option value="Chad" class="text-dark">Chad</option>
                                        <option value="Channel Islands" class="text-dark">Channel Islands</option>
                                        <option value="Chile"class="text-dark" >Chile</option>
                                        <option value="China"class="text-dark">China</option>
                                        <option value="Christmas Island"class="text-dark">Christmas Island</option>
                                        <option value="Cocos Island"class="text-dark">Cocos Island</option>
                                        <option value="Colombia"class="text-dark">Colombia</option>
                                        <option value="Comoros"class="text-dark">Comoros</option>
                                        <option value="Congo"class="text-dark">Congo</option>
                                        <option value="Cook Islands"class="text-dark">Cook Islands</option>
                                        <option value="Costa Rica"class="text-dark">Costa Rica</option>
                                        <option value="Cote DIvoire"class="text-dark">Cote D'Ivoire</option>
                                        <option value="Croatia"class="text-dark">Croatia</option>
                                        <option value="Cuba"class="text-dark">Cuba</option>
                                        <option value="Curaco"class="text-dark">Curacao</option>
                                        <option value="Cyprus"class="text-dark">Cyprus</option>
                                        <option value="Czech Republic"class="text-dark">Czech Republic</option>
                                        <option value="Denmark"class="text-dark">Denmark</option>
                                        <option value="Djibouti"class="text-dark">Djibouti</option>
                                        <option value="Dominica"class="text-dark">Dominica</option>
                                        <option value="Dominican Republic"class="text-dark">Dominican Republic</option>
                                        <option value="East Timor"class="text-dark">East Timor</option>
                                        <option value="Ecuador"class="text-dark">Ecuador</option>
                                        <option value="Egypt"class="text-dark">Egypt</option>
                                        <option value="El Salvador" class="text-dark">El Salvador</option>
                                        <option value="Equatorial Guinea" class="text-dark">Equatorial Guinea</option>
                                        <option value="Eritrea" class="text-dark">Eritrea</option>
                                        <option value="Estonia" class="text-dark">Estonia</option>
                                        <option value="Ethiopia" class="text-dark">Ethiopia</option>
                                        <option value="Falkland Islands" class="text-dark">Falkland Islands</option>
                                        <option value="Faroe Islands" class="text-dark">Faroe Islands</option>
                                        <option value="Fiji" class="text-dark">Fiji</option>
                                        <option value="Finland" class="text-dark">Finland</option>
                                        <option value="France" class="text-dark">France</option>
                                        <option value="French Guiana" class="text-dark">French Guiana</option>
                                        <option value="French Polynesia" class="text-dark">French Polynesia</option>
                                        <option value="French Southern Ter" class="text-dark">French Southern Ter</option>
                                        <option value="Gabon" class="text-dark">Gabon</option>
                                        <option value="Gambia" class="text-dark">Gambia</option>
                                        <option value="Georgia" class="text-dark">Georgia</option>
                                        <option value="Germany" class="text-dark">Germany</option>
                                        <option value="Ghana" class="text-dark">Ghana</option>
                                        <option value="Gibraltar" class="text-dark">Gibraltar</option>
                                        <option value="Great Britain" class="text-dark">Great Britain</option>
                                        <option value="Greece" class="text-dark">Greece</option>
                                        <option value="Greenland"class="text-dark">Greenland</option>
                                        <option value="Grenada"class="text-dark">Grenada</option>
                                        <option value="Guadeloupe"class="text-dark">Guadeloupe</option>
                                        <option value="Guam"class="text-dark">Guam</option>
                                        <option value="Guatemala"class="text-dark">Guatemala</option>
                                        <option value="Guinea"class="text-dark">Guinea</option>
                                        <option value="Guyana"class="text-dark">Guyana</option>
                                        <option value="Haiti"class="text-dark">Haiti</option>
                                        <option value="Hawaii"class="text-dark">Hawaii</option>
                                        <option value="Honduras"class="text-dark">Honduras</option>
                                        <option value="Hong Kong"class="text-dark">Hong Kong</option>
                                        <option value="Hungary"class="text-dark">Hungary</option>
                                        <option value="Iceland"class="text-dark">Iceland</option>
                                        <option value="India"class="text-dark">India</option>
                                        <option value="Indonesia"class="text-dark">Indonesia</option>
                                        <option value="Iran"class="text-dark">Iran</option>
                                        <option value="Iraq"class="text-dark">Iraq</option>
                                        <option value="Ireland"class="text-dark">Ireland</option>
                                        <option value="Isle of Man"class="text-dark">Isle of Man</option>
                                        <option value="Israel"class="text-dark">Israel</option>
                                        <option value="Italy"class="text-dark">Italy</option>
                                        <option value="Jamaica"class="text-dark">Jamaica</option>
                                        <option value="Japan"class="text-dark">Japan</option>
                                        <option value="Jordan" class="text-dark">Jordan</option>
                                        <option value="Kazakhstan" class="text-dark">Kazakhstan</option>
                                        <option value="Kenya" class="text-dark">Kenya</option>
                                        <option value="Kiribati" class="text-dark">Kiribati</option>
                                        <option value="Korea North" class="text-dark">Korea North</option>
                                        <option value="Korea Sout" class="text-dark">Korea South</option>
                                        <option value="Kuwait" class="text-dark">Kuwait</option>
                                        <option value="Kyrgyzstan" class="text-dark">Kyrgyzstan</option>
                                        <option value="Laos" class="text-dark">Laos</option>
                                        <option value="Latvia" class="text-dark">Latvia</option>
                                        <option value="Lebanon" class="text-dark">Lebanon</option>
                                        <option value="Lesotho" class="text-dark">Lesotho</option>
                                        <option value="Liberia" class="text-dark">Liberia</option>
                                        <option value="Libya" class="text-dark">Libya</option>
                                        <option value="Liechtenstein" class="text-dark">Liechtenstein</option>
                                        <option value="Lithuania" class="text-dark">Lithuania</option>
                                        <option value="Luxembourg" class="text-dark">Luxembourg</option>
                                        <option value="Macau" class="text-dark">Macau</option>
                                        <option value="Macedonia" class="text-dark">Macedonia</option>
                                        <option value="Madagascar" class="text-dark">Madagascar</option>
                                        <option value="Malaysia" class="text-dark">Malaysia</option>
                                        <option value="Malawi" class="text-dark">Malawi</option>
                                        <option value="Maldives" class="text-dark">Maldives</option>
                                        <option value="Mali" class="text-dark">Mali</option>
                                        <option value="Malta" class="text-dark">Malta</option>
                                        <option value="Marshall Islands" class="text-dark">Marshall Islands</option>
                                        <option value="Martinique" class="text-dark">Martinique</option>
                                        <option value="Mauritania" class="text-dark">Mauritania</option>
                                        <option value="Mauritius" class="text-dark">Mauritius</option>
                                        <option value="Mayotte" class="text-dark">Mayotte</option>
                                        <option value="Mexico" class="text-dark">Mexico</option>
                                        <option value="Midway Islands" class="text-dark">Midway Islands</option>
                                        <option value="Moldova" class="text-dark">Moldova</option>
                                        <option value="Monaco" class="text-dark">Monaco</option>
                                        <option value="Mongolia" class="text-dark">Mongolia</option>
                                        <option value="Montserrat" class="text-dark">Montserrat</option>
                                        <option value="Morocco" class="text-dark">Morocco</option>
                                        <option value="Mozambique" class="text-dark">Mozambique</option>
                                        <option value="Myanmar" class="text-dark">Myanmar</option>
                                        <option value="Nambia" class="text-dark">Nambia</option>
                                        <option value="Nauru" class="text-dark">Nauru</option>
                                        <option value="Nepal" class="text-dark">Nepal</option>
                                        <option value="Netherland Antilles" class="text-dark">Netherland Antilles</option>
                                        <option value="Netherlands" class="text-dark">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis" class="text-dark">Nevis</option>
                                        <option value="New Caledonia" class="text-dark">New Caledonia</option>
                                        <option value="New Zealand" class="text-dark">New Zealand</option>
                                        <option value="Nicaragua" class="text-dark">Nicaragua</option>
                                        <option value="Niger" class="text-dark">Niger</option>
                                        <option value="Nigeria" class="text-dark">Nigeria</option>
                                        <option value="Niue" class="text-dark">Niue</option>
                                        <option value="Norfolk Island" class="text-dark">Norfolk Island</option>
                                        <option value="Norway" class="text-dark">Norway</option>
                                        <option value="Oman" class="text-dark">Oman</option>
                                        <option value="Pakistan" class="text-dark">Pakistan</option>
                                        <option value="Palau Island" class="text-dark">Palau Island</option>
                                        <option value="Palestine" class="text-dark">Palestine</option>
                                        <option value="Panama" class="text-dark">Panama</option>
                                        <option value="Papua New Guinea" class="text-dark">Papua New Guinea</option>
                                        <option value="Paraguay" class="text-dark">Paraguay</option>
                                        <option value="Peru" class="text-dark">Peru</option>
                                        <option value="Phillipines" class="text-dark">Philippines</option>
                                        <option value="Pitcairn Island" class="text-dark">Pitcairn Island</option>
                                        <option value="Poland" class="text-dark">Poland</option>
                                        <option value="Portugal" class="text-dark">Portugal</option>
                                        <option value="Puerto Rico" class="text-dark">Puerto Rico</option>
                                        <option value="Qatar" class="text-dark">Qatar</option>
                                        <option value="Republic of Montenegro" class="text-dark">Republic of Montenegro</option>
                                        <option value="Republic of Serbia" class="text-dark">Republic of Serbia</option>
                                        <option value="Reunion" class="text-dark">Reunion</option>
                                        <option value="Romania" class="text-dark">Romania</option>
                                        <option value="Russia" class="text-dark">Russia</option>
                                        <option value="Rwanda" class="text-dark">Rwanda</option>
                                        <option value="St Barthelemy" class="text-dark">St Barthelemy</option>
                                        <option value="St Eustatius" class="text-dark">St Eustatius</option>
                                        <option value="St Helena" class="text-dark">St Helena</option>
                                        <option value="St Kitts-Nevis" class="text-dark">St Kitts-Nevis</option>
                                        <option value="St Lucia" class="text-dark">St Lucia</option>
                                        <option value="St Maarten" class="text-dark">St Maarten</option>
                                        <option value="St Pierre &amp; Miquelon" class="text-dark">St Pierre &amp; Miquelon</option>
                                        <option value="St Vincent &amp; Grenadines" class="text-dark">St Vincent &amp; Grenadines</option>
                                        <option value="Saipan" class="text-dark">Saipan</option>
                                        <option value="Samoa" class="text-dark">Samoa</option>
                                        <option value="Samoa American" class="text-dark">Samoa American</option>
                                        <option value="San Marino" class="text-dark">San Marino</option>
                                        <option value="Sao Tome &amp; Principe" class="text-dark">Sao Tome &amp; Principe</option>
                                        <option value="Saudi Arabia" class="text-dark">Saudi Arabia</option>
                                        <option value="Senegal" class="text-dark">Senegal</option>
                                        <option value="Serbia" class="text-dark">Serbia</option>
                                        <option value="Seychelles" class="text-dark">Seychelles</option>
                                        <option value="Sierra Leone" class="text-dark">Sierra Leone</option>
                                        <option value="Singapore" class="text-dark">Singapore</option>
                                        <option value="Slovakia" class="text-dark">Slovakia</option>
                                        <option value="Slovenia" class="text-dark">Slovenia</option>
                                        <option value="Solomon Islands" class="text-dark">Solomon Islands</option>
                                        <option value="Somalia" class="text-dark">Somalia</option>
                                        <option value="South Africa" class="text-dark">South Africa</option>
                                        <option value="Spain" class="text-dark">Spain</option>
                                        <option value="Sri Lanka" class="text-dark">Sri Lanka</option>
                                        <option value="Sudan" class="text-dark">Sudan</option>
                                        <option value="Suriname" class="text-dark">Suriname</option>
                                        <option value="Swaziland" class="text-dark">Swaziland</option>
                                        <option value="Sweden" class="text-dark">Sweden</option>
                                        <option value="Switzerland" class="text-dark">Switzerland</option>
                                        <option value="Syria" class="text-dark">Syria</option>
                                        <option value="Tahiti" class="text-dark">Tahiti</option>
                                        <option value="Taiwan" class="text-dark">Taiwan</option>
                                        <option value="Tajikistan" class="text-dark">Tajikistan</option>
                                        <option value="Tanzania" class="text-dark">Tanzania</option>
                                        <option value="Thailand" class="text-dark">Thailand</option>
                                        <option value="Togo" class="text-dark">Togo</option>
                                        <option value="Tokelau" class="text-dark">Tokelau</option>
                                        <option value="Tonga" class="text-dark">Tonga</option>
                                        <option value="Trinidad &amp; Tobago" class="text-dark">Trinidad &amp; Tobago</option>
                                        <option value="Tunisia" class="text-dark">Tunisia</option>
                                        <option value="Turkey" class="text-dark">Turkey</option>
                                        <option value="Turkmenistan" class="text-dark">Turkmenistan</option>
                                        <option value="Turks &amp; Caicos Is" class="text-dark">Turks &amp; Caicos Is</option>
                                        <option value="Tuvalu" class="text-dark">Tuvalu</option>
                                        <option value="Uganda" class="text-dark">Uganda</option>
                                        <option value="Ukraine" class="text-dark">Ukraine</option>
                                        <option value="United Arab Erimates" class="text-dark">United Arab Emirates</option>
                                        <option value="United Kingdom" class="text-dark">United Kingdom</option>
                                        <option value="United States of America" class="text-dark">United States of America</option>
                                        <option value="Uraguay" class="text-dark">Uruguay</option>
                                        <option value="Uzbekistan" class="text-dark">Uzbekistan</option>
                                        <option value="Vanuatu" class="text-dark">Vanuatu</option>
                                        <option value="Vatican City State" class="text-dark">Vatican City State</option>
                                        <option value="Venezuela" class="text-dark">Venezuela</option>
                                        <option value="Vietnam" class="text-dark">Vietnam</option>
                                        <option value="Virgin Islands (Brit)" class="text-dark">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)" class="text-dark">Virgin Islands (USA)</option>
                                        <option value="Wake Island" class="text-dark">Wake Island</option>
                                        <option value="Wallis &amp; Futana Is" class="text-dark">Wallis &amp; Futana Is</option>
                                        <option value="Yemen" class="text-dark">Yemen</option>
                                        <option value="Zaire" class="text-dark">Zaire</option>
                                        <option value="Zambia" class="text-dark">Zambia</option>
                                        <option value="Zimbabwe" class="text-dark">Zimbabwe</option>                                                        </select>
                                                    </div>
                                                    <span class="gender error"></span>
                                                                                                    </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Password <span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <i data-feather="key" class="fea icon-sm icons"></i>
                                                        <input type="password" class="pl-5 form-control" name="password"
                                                            id="password" placeholder="Enter Password" required>
                                                            <span class="password error"></span>
                                                                                                            </div>
                                                </div>
                                            </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Referral ID</label>
                                                        <div class="position-relative">
                                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                                            <input type="text" class="pl-5 form-control"
                                                                name="ref" id="ref" placeholder="Optional referral id">
                                                                <span class="ref error"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                                                        
                                            <!--end col-->

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button class="btn btn-success btn-block pad"
                                                        type="submit">Register</button>
                                                </div>
                                            </div>
                                            
                                            <div class="text-center col-12">
                                                <p class="mb-0"><small class="mr-2 text-white">Already have an account
                                                    </small> <a href="/login"
                                                        class="text-white font-weight-bold">Login</a></p>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                    <div class="text-center">
                                        <small class="text-white" style="font-size: 11px">
                                            &copy; Copyright 2024 &nbsp;Ameliario Crypto  Official
                                            &nbsp;
                                            All Rights Reserved.
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->

    <script>
        const form = document.querySelector('form');
     
        const emailError = document.querySelector('.email.error');
        const passwordError = document.querySelector('.password.error');
      
        form.addEventListener('submit', async (e) => {
          e.preventDefault();
          // reset errors
          emailError.textContent = '';
          passwordError.textContent = '';
       
          // get values
            const username = form.username.value;
             const fullname = form.fullname.value;
             const email = form.email.value;
             const tel = form.tel.value;
            const country = form.country.value;
            const password = form.password.value;
            const ref = form.ref.value;

          try {
            const res = await fetch('/register', { 
              method: 'POST', 
              body: JSON.stringify({username, fullname,email, tel,country,password,ref}),
              headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
              emailError.textContent = data.errors.email;
              passwordError.textContent = data.errors.password;
            }
            if (data.user) {
              location.assign('/dashboard');
            }
          }
          catch (err) {
            console.log(err);
          }
        });
      </script>
   

                     <script src="https://roboofficials.com/temp/js/jquery-3.5.1.min.js"></script>
            <script src="https://roboofficials.com/temp/js/bootstrap.bundle.min.js"></script>
            
            <!-- SLIDER -->
            <script src="https://roboofficials.com/temp/js/owl.carousel.min.js"></script>
            <script src="https://roboofficials.com/temp/js/owl.init.js"></script>
            <!-- Icons -->
            <script src="https://roboofficials.com/temp/js/feather.min.js"></script>
            <script src="https://roboofficials.com/temp/js/bundle.js"></script>
            
            <script src="https://roboofficials.com/temp/js/app.js"></script>
            <script src="https://roboofficials.com/temp/js/widget.js"></script>
           <script>
        // $('#input1').on('keypress', function(e) {
        //     return e.which !== 32;
        // });
    </script>
    </body>
</html>
